#grid-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 0px;
}

#norwegian {
    grid-area: 1 / 2 / 3 / 3;
}

#english {
    grid-area: 1 / 3 / 3 / 4;
}

.post {
    padding: 2%;
}