{% extends "base.html" %}

{% block title %} Blog {% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/blog.css">
{% endblock %}

{% block body %}
<main role="main" class="center main-content container w-75 text-center mt-5">
    <h1>Blogg</h1>

    <div id="grid-parent" class="center">
        <section role="English posts" id="english">
            English<br>
            {% for post in english %}
            <a href="/post/{{post.id}}">
                <section class="post fs-3">
                <h3>{{post.title}}</h3>{{post.date}}<br>
                <h3>{{post.description}}</h3><br>
            </section></a>
            {% endfor %}
        </section>

        <section role="Norwegian posts" id="norwegian">
            Norsk<br>
            {% for post in norwegian %}
            <a href="/post/{{post.id}}">
                <section class="post fs-3">
                <h3>{{post.title}}</h3>{{post.date}}<br>
                <h3>{{post.description}}</h3><br>
            </section></a>
            {% endfor %}
        </section>
    </div>
<a href="/"><button class="button">Return</button></a>
</main>
{% endblock %}