{% extends "base.html" %}

{% block title %} Blog {% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/blog.css">
{% endblock %}

{% block body %}
<main role="main" class="center main-content container w-75 text-center mt-5">
    <h1>Blogg</h1>

    <div class="row center">
        <section role="English posts" id="english" class="col">
            English<br>
            {% for post in english %}
            <a href="/post/{{post.id}}">
                <section class="post fs-3 center no-decoration mt-5">
                <h2>{{post.title}}</h2>
                {{post.date}}<br>
                <p>{{post.description}}</hp><br>
            </section></a>
            <div class="w-100"></div>
            {% endfor %}
        </section>

        <section role="Norwegian posts" id="norwegian" class="col">
            Norsk<br>
            {% for post in norwegian %}
            <a class="col-4" href="/post/{{post.id}}">
                <section class="post fs-3 center no-decoration mt-5">
                <h2>{{post.title}}</h2>
                {{post.date}}<br>
                <p>{{post.description}}</hp><br>
            </section></a>
            {% endfor %}
        </section>
    </div>
<a href="/"><button class="button fs-1 mt-2">Gå tilbake</button></a>
</main>
{% endblock %}