{% extends "base.html" %}

{% block title %} Index {% endblock %}
{% block head %}{% endblock %}

{% block body %}
<main role="main"  class="container w-75 text-center mt-5 fadein" id="main-content">
  <h1 class="fs-1" >Adrian Berg</h1>
  <p class="fs-4">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  <div class="fs-4">
    📧 Email: <a href="mailto:adrianrberg@protonmail.com">adrianrberg@protonmail.com</a><br>
    📞 Phone: +47 959 73 024<br>
    🤵🏼 Organisasjonsnummer: 929 296 583<br>
  </div>
  <a href="/blog"><button class="button fs-4" >Blogg</button></a>
</main>
{% endblock %}
